@media (max-width: 1399px) {
  .container {
    width: 114rem;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 96rem;
  }
}

@media (max-width: 991px) {
  .container {
    width: 72rem;
  }
}

@media (max-width: 767px) {
  .container {
    width: 54rem;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .headerTop p {
    font-size: 1rem;
  }
  .headerTitle {
    font-size: 3.5rem;
  }
  .headerBot input {
    font-size: 1.2rem;
  }
  .headerBot input::placeholder {
    font-size: 1.2rem;
  }
}
